<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
    <div>
        <p>This webpage was built by :</p>
    </div>

    <div>
        <ul>
            <li><%= name %></li>
            <li><%= studentNumber %></li>
        </ul>
    </div>
</body>
<%- include('layouts/footer'); -%>