<%- include('layouts/head'); -%>
<!-- NAV -->
<%- include('layouts/nav'); -%>

<!-- Main Body -->
<div class="large-words">CLUB HISTORY</div>
<div class="about-cont">
  <p class="about-text">
    Invictus Athletics Club was formed in 2016 by Head Coach Ray who has a
    wealth of coaching and knowledge and experience from his time coaching
    with multiple other clubs in the Waterloo Region.
  </p>
  <p class="about-text">
    The culture around the club that we strive to create is one of
    continuous growth. Everyday you show up to our practise is an
    opportunity to grow and leave a little better than you came in. After a
    few years in the Invictus program, the growth of each athlete's skillset
    and ability is evident.
  </p>
  <p class="about-text">
    As a club we have graduated better than 100 athletes since 2016 to
    various universties throughout North America, and for Coach Ray
    individually in his cocahing career, that number is far greater still.
    Invictus Athletics Club is a constant at Athletics Canada, Athletics
    Ontario, Royal Canadian Legion, and Minor Track Association
    competitions, always having a strong showing.
  </p>
  <p class="about-text">
    Our athletes have achieved great things in Canadian Track and Field,
    with numerous athletes getting the chance to represent Team Canada and
    Team Ontario at various competitions over the years.
  </p>
  <p class="about-text">
    We focus on elementary and highschool athletes who are dedicated to
    improvement and wish to compete in track and field at the next level,
    whatever that level may be for the athlete. We also welcome our senior
    atheltes back to the club for summer training sessions as the mentorship
    and experience they bring is invaluable.
  </p>
  <%- include('layouts/nameLogo'); -%>
</div>

<!-- Footer -->
<%- include('layouts/footer'); -%>
<%- include('layouts/foot'); -%>
</html>